.container {
  height: 100vh;
  background-color: rgb(62, 123, 255);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.title {
  color: #ffffff;
  font-size: 6rem;
  font-weight: 600;
  width: 80%;
  margin: 2rem auto 2rem auto;
  line-height: 6rem;
}

.slogan {
  color: #e4e4e4;
  font-size: 1.5rem;
  font-weight: 600;
  width: 80%;
  margin: 0 auto;
}

.image_container {
  margin: auto;
}

.button {
  background-color: #ffd54ade;
  border: none;
  border-radius: 5rem;
  color: #ffffff;
  padding: 1rem 0;
  font-weight: 600;
  font-size: 1.2rem;
  width: 15rem;
  margin-left: 10rem;
  margin: 4rem 0 4rem 10rem;
  -webkit-transition: width 1s, background 1s;
  -moz-transition: width 1s, background 1s;
  -o-transition: width 1s, background 1s;
  transition: width 1s, background 1s;
  cursor: pointer;
}

.button:hover {
  background-color: #ffffff;
  color: #000000;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
